{% extends "layout.html" %}
{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}

<h1>Kirjaudu</h1>
<form method="POST">
    <p>
        Käyttäjätunnus <br />
        <input type="text" name="tunnus" value="{{tunnus}}" placeholder="Tunnus" />
    </p>
    <p>
        Salasana <br />
        <input type="password" name="salasana" placeholder="Salasana" />
    </p>
    <input type="submit" value="Kirjaudu" />
</form>
<hr />

<a href="/rekisteroityminen">Luo tunnus</a>

{% endblock %}