<!DOCTYPE html>

<head>
    <title>Lukuvinkkisovellus - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-light" style="background-color:rgb(178, 218, 183)">
            <a class="navbar-brand" href="/">Lukuvinkkisovellus</a>
    
            <ul class="navbar-nav">
                {% if session.username %}
                <li class="nav-item">
                    <a class="nav-link" href="/new_tip">Luo uusi vinkki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Kirjaudu ulos</a>
                </li>
    
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Kirjaudu sisään</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Luo tunnus</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="notifications alert-warning">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <h2>Virheet:</h2>
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{flashes}}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>