{% extends "layout.html" %}
{% block title %}Lukuvinkit{% endblock %}
{% block content %}

<h1>Lukuvinkit</h1>

<hr />
{% if session.username %}
<a href="/uusi_vinkki">Luo uusi vinkki</a>
<a href="/kirjaudu_ulos">Kirjaudu ulos</a>
{% else %}
<a href="/kirjautuminen">Kirjaudu</a>
{% endif %}

{% for vinkki in vinkit %}
<hr />
<div>
    <h4>{{vinkki.otsikko}}</h4>

    {% if vinkki.tyyppi == "kirja" %}
    <table>
        <tbody>
            <tr>
                <td>Kirjailija</td>
                <td>{{vinkki.kirjailija}}</td>
            </tr>
            <tr>
                <td>kirjoitusvuosi</td>
                <td>{{vinkki.kirjoitusvuosi}}</td>
            </tr>
            <tr>
                <td>vinkin lisääjä</td>
                <td>{{vinkki.omistaja}}</td>
            </tr>
            <tr>
                <td>Luontiaika</td>
                <td>{{vinkki.aikaleima.strftime("%H:%M / %d-%m-%Y") }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
{% endfor %}

{% if vinkit | length > 0 %}
<hr />
{% endif %}

{% endblock %}