{% extends "layout.html" %}
{% block title %}Luo lukuvinkki{% endblock %}
{% block content %}

<div class="new_tip_header">Luo lukuvinkki</div>

<form method="POST">
    <p>
        Otsikko: <br />
        <input type="text" name="title" value="{{title}}" placeholder="Otsikko" />
    </p>
    <p>
        Kirjailija: <br />
        <input type="text" name="author" value="{{author}}" placeholder="Kirjailija" />
    </p>
    <p>
        Kirjoitusvuosi: <br />
        <input type="number" name="year" value="{{year}}" placeholder="Kirjoitusvuosi" />
    </p>
    <input type="submit" class="btn btn-dark" value="Luo vinkki" />
</form>

{% endblock %}