{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}

<div class="register_header">Rekisteröidy</div>

<form method="POST">
    <p>
        Käyttäjätunnus <br />
        <input type="text" name="username" value="{{username}}" placeholder="Tunnus" />
    </p>
    <p>
        Salasana <br />
        <input type="password" name="password" placeholder="Salasana" />
    </p>
    <input type="submit" class="btn btn-dark" value="Rekisteröidy" />
</form>

{% endblock %}