{% extends "layout.html" %}
{% block title %}Lukuvinkit{% endblock %}
{% block content %}

<div class="header">Lukuvinkit</div>

<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="menubutton" data-bs-toggle="dropdown"
        aria-haspopup="true">
        Järjestä vinkit
    </button>
    <div class="dropdown-menu" aria-labelledby="menubutton">
        <a class="dropdown-item" href="#">Aikaleiman mukaan</a>
        <a class="dropdown-item" href="#">Tykkäyksien mukaan</a>
    </div>
</div>

{% for tip in tips %}
<hr />
<div>
    <h4>{{tip.title}}</h4>

    {% if tip.type == "book" %}
    <table>
        <tbody>
            <tr>
                <td>Kirjailija:</td>
                <td>{{tip.author}}</td>
            </tr>
            <tr>
                <td>Kirjoitusvuosi:</td>
                <td>{{tip.year}}</td>
            </tr>
            <tr>
                <td>Vinkin lisääjä:</td>
                <td>{{tip.adder_username}}</td>
            </tr>
            <tr>
                <td>Luontiaika:</td>
                <td>{{tip.timestamp.strftime("%H:%M %d.%m.%Y") }}</td>
            </tr>
            <tr>
                <td>Tykkäykset:</td>
                <td>{{ tip.likes|length }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if session.username %}
    {% if session.username in tip.likes %}
    <form method="POST" action="/dislike">
        <input type="hidden" name="tip_id" value="{{tip.id}}" />
        <input type="submit" class="btn btn-outline-warning" value="En tykkää" />
    </form>
    {% else %}
    <form method="POST" action="/like">
        <input type="hidden" name="tip_id" value="{{tip.id}}" />
        <input type="submit" class="btn btn-outline-success" value="Tykkää" />
    </form>
    {% endif %}
    {% endif %}

    {% if tip.adder_username == session.username %}
    <form method="POST">
        <input type="submit" class="btn btn-outline-danger" name="delete_{{tip.type}}_{{tip.title}}" value="Poista" />
    </form>
    {% endif %}
</div>
{% endfor %}

{% if tips | length > 0 %}
<hr />
{% endif %}

{% endblock %}