{% extends "layout.html" %}
{% block title %}Lukuvinkit{% endblock %}
{% block content %}

<h1>Lukuvinkit</h1>

<hr />
{% if session.username %}
<a href="/new_tip">Luo uusi vinkki</a>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu</a>
{% endif %}

{% for tip in tips %}
<hr />
<div>
    <h4>{{tip.title}}</h4>

    {% if tip.type == "book" %}
    <table>
        <tbody>
            <tr>
                <td>Kirjailija</td>
                <td>{{tip.author}}</td>
            </tr>
            <tr>
                <td>kirjoitusvuosi</td>
                <td>{{tip.year}}</td>
            </tr>
            <tr>
                <td>vinkin lisääjä</td>
                <td>{{tip.adder_username}}</td>
            </tr>
            <tr>
                <td>Luontiaika</td>
                <td>{{tip.timestamp.strftime("%H:%M %d.%m.%Y") }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if tip.adder_username == session.username %}
    <form method="POST">
        <input type="submit" name="delete_{{tip.type}}_{{tip.title}}" value="Poista" />
    </form>
    {% endif %}
</div>
{% endfor %}

{% if tips | length > 0 %}
<hr />
{% endif %}

{% endblock %}