{% extends "layout.html" %}
{% block title %}Luo lukuvinkki{% endblock %}
{% block content %}

<h1>Luo lukuvinkki</h1>

<form method="POST">
    <p>
        Otsikko: <br />
        <input type="text" name="otsikko" value="{{otsikko}}" placeholder="Otsikko" />
    </p>
    <p>
        Kirjailija: <br />
        <input type="text" name="kirjailija" value="{{kirjailija}}" placeholder="Kirjailija" />
    </p>
    <p>
        Kirjoitusvuosi: <br />
        <input type="number" name="kirjoitusvuosi" value="{{kirjoitusvuosi}}" placeholder="Kirjoitusvuosi" />
    </p>
    <input type="submit" value="luo vinkki" />
</form>

{% endblock %}